<div class="content-wrapper">
  <div class="container">
    <div style="width: 100%">
      <h1>Selbstwirksamkeit</h1>
    </div>
    <div *ngIf="!showResult">
      Folgend finden Sie eine Reihe von Aussagen. Bitte lesen Sie sich jede
      Aussage durch und kreuzen Sie an, inwiefern diese Aussage auf Sie
      zutrifft.
      <br />
    </div>
  </div>
  <hr />
  <div class="flex-wrapper">
    <div class="wrap">
      <app-questionnaire *ngIf="!showResult" (outputEvent)="assignValues($event)" [questions]="questionnaire"
        [numberOfOptions]="4" [values]="form.value" [naming]="naming" [headers]="headers"></app-questionnaire>
      <app-result-table *ngIf="showResult" [numberOfOptions]="4" [questions]="questionnaire" [values]="form.value"
        [naming]="naming"></app-result-table>
      <div class="footnote" style="margin-top: 20px">
        <p>
          Schwarzer, R., & Jerusalem, M. (1995). Generalized Self-Efficacy
          scale. In J. Weinman, S. Wright, & M. Johnston, Measures in health
          psychology: A user’s portfolio. Causal and control beliefs (pp.
          35-37). Windsor, England: NFER-NELSON.
        </p>
      </div>
    </div>

    <div *ngIf="showResult" class="result">
      <div style="display: flex; align-items: center">
        <mat-icon id="info-button" (click)="toggleCollapsible()"
          style="width: 1.3em; font-size: 40px; margin-bottom: 15px">info</mat-icon>
        <h3 style="color: #4b647d">
          Ihr Selbstwirksamskeits Wert ist:&nbsp;&nbsp;&nbsp;<span (click)="toggleScoreInfo()" style="
              font-size: 2.5rem;
              text-decoration: underline;
              cursor: pointer;
            ">{{ score }}</span>
        </h3>
      </div>
      <hr />
      <h4>
        Soeben haben Sie einen Fragebogen ausgefüllt, mit dem Ihre
        Selbstwirksamkeit bemessen wurde.
      </h4>
      <p id="info" #info>
        <span style="font-weight: bold">Erläuterung:</span>
        <br>
        Selbstwirksamkeit ist die Überzeugung, dass man sich in einer bestimmten Situation angemessen verhalten und
        angemessene Leistung erbringen kann (Gerrig, 2018).
        <br><br>
        Selbstwirksamkeit ist eine wichtige Eigenschaft in der Sozialen Arbeit. Fachpersonen der Sozialen Arbeit, die
        über ein hohes Mass an Selbstwirksamkeit verfügen, sind nicht nur in der Lage, sich selbst, sondern auch andere,
        d.h. Adressat*innen und Adressaten und Arbeitskolleg*innen zu motivieren. Vor allem, wenn sie mit
        Herausforderungen konfrontiert sind, sind Fachpersonen der Sozialen Arbeit mit hoher Selbstwirksamkeit in der
        Lage, durchzuhalten und Widerstandsfähigkeit gegenüber Widrigkeiten zu zeigen. (Pedrazza et al., 2013)
        <br>
      </p>
      <p #scoreInfo id="info" style="margin-top: 0">
        Mit der Selbstwirksamkeits-Skala können Werte in der Spannbreite von 10 bis 40 erhalten werden. Ein hoher
        Testwert steht dabei für eine hohe Selbstwirksamkeit. Das bedeutet, diese Menschen haben Vertrauen in sich
        selbst und in ihre Kompetenz, schwierige Situationen erfolgreich meistern zu können.
      </p>
      <button class="primary" (click)="advanceSite()">
        Weiter mit Self-Assessment
      </button>
    </div>

  </div>
</div>
