<div class="content-wrapper">
  <div class="flex-wrapper">
    <h1>Resilienz Skala</h1>
    <p>
      Folgend finden Sie eine Reihe von Feststellungen. Bitte lesen Sie sich
      jede Feststellung durch und kreuzen Sie an, wie sehr die Aussagen im
      Allgemeinen auf Sie zutreffen, d.h. wie sehr Ihr Denken und Handeln durch
      diese Aussagen beschrieben wird.
    </p>
    <p class="footnote">
      Quelle: Leppert, K., Koch, B., Brähler, E. & Strauß, B., (2008). Die
      Resilienzskala (RS) – Überprüfung der Langform RS-25 und einer Kurzform
      RS-13. Klin. Diagnostik u. Evaluation, 1. Jg., 226‐243, 2008.
    </p>
    <form [formGroup]="form" (submit)="updateModel()">
      <div class="formheader">
        <div class="flex-spacer"></div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div style="margin-right: 1em">7</div>
      </div>
      <mat-radio-group *ngFor="let key of keys" [formControlName]="key">
        <mat-label>{{ questionnaire[key] }}</mat-label>
        <div class="flex-spacer"></div>
        <mat-radio-button value="1"></mat-radio-button>
        <mat-radio-button value="2"></mat-radio-button>
        <mat-radio-button value="3"></mat-radio-button>
        <mat-radio-button value="4"></mat-radio-button>
        <mat-radio-button value="5"></mat-radio-button>
        <mat-radio-button value="6"></mat-radio-button>
        <mat-radio-button value="7"></mat-radio-button>
      </mat-radio-group>
      <!--TODO: add form.invalid to [disabled], only not in there for dev purposes-->
      <button class="primary" type="submit" [disabled]="false">
        Ergebnis Anzeigen
      </button>
    </form>
  </div>
  <div *ngIf="showResult" class="result">
    <h2>Ihr Resilienz Wert ist: {{ score }}</h2>
    <div id="info-button" (click)="toggleCollapsible()">
      <mat-icon style="width: 2em">info</mat-icon>
    </div>
    <p id="info" #info>
      Erläuterung: Soeben haben Sie einen Fragebogen zur Ermessung ihrer eigenen
      Resilienz ausgefüllt. Wie sollen Sie Ihr Ergebnis nun interpretieren...?
      Mit der Resilienz Skala können Werte in der Spannbreite von 10 bis 70
      erhalten werden. Einen hohen Gesamtwert weist auf eine hohe persönliche
      Resilienz. Grundsätzlich ist es in der Sozialen Arbeit von Vorteil, wenn
      sich die einzelnen Werte zur Resilienz im hohen Segment befinden.
      Resilient zu sein, ist für Sozialarbeitende ausschlaggeben, da sie täglich
      mit Problemen auf gesellschaftlicher, institutioneller und individueller
      Ebene konfrontiert werden. Diesen Problemlagen müssen Sozialarbeitende die
      Stirn bieten und Widerstandsfähigkeit beweisen, um ihre Dienst- und
      Unterstützungsleistungen sicherzustellen sowie auch ihre eigene Gesundheit
      zu bewahren (Eggli & Romano, 2022).
    </p>
    <p class="footnote">
      Hinweise zur Auswertung: Die Auswertung erfolgt über eine Addition der
      Punktwerte. Für die Interpretation der Merkmalsausprägung für Resilienz
      empfiehlt sich folgendes Schema:<br />
      Punktwerte 13‐63 & 64‐66 = niedrig<br />
      Punktwerte 67‐69 & 70‐72 = moderat<br />
      Punktwerte 73‐76 & 77‐91 = hoch
    </p>
    <button class="primary" (click)="advanceSite()">
      Weiter mit Self-Assessment
    </button>
  </div>
</div>
