<app-sidenav></app-sidenav>
<div>
  <header>
    <div class="header-container" style="width: 50%;">
      <div style="background-image:url(assets/home/{{images[0]}})"></div>
      <div style="background-image:url(assets/home/{{images[1]}})"></div>
    </div>
    <div class="header-container" style="width: 50%;">
      <div style="background-image:url(assets/home/{{images[2]}})"></div>
      <div style="background-image:url(assets/home/{{images[3]}})"></div>
    </div>

    <!-- <div class="header-image-container">
      <div class="header-grid">
        <img src="../../assets/home/bank.jpeg" alt="">
        <img src="../../assets/home/lawngroup.jpg" alt="">
        <img src="../../assets/home/pencils.jpeg" alt="">
        <img src="../../assets/home/tisch.jpg" alt="">
      </div>
    </div> -->
  </header>

  <div [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
</div>