<div class="container content-wrapper">
  <div class="header-image-container">
  </div>
  <h2>Wozu dient der Online-Selbsttest?</h2>
</div>
<hr>
<div class="container content-wrapper">
  <p>
    Dieser Selbsttest bietet Ihnen die Möglichkeit sich mit Ihren Interessen,
    Erwartungen, Fähigkeiten und Kompetenzen auseinanderzusetzen und die
    Anforderungen eines Bachelorstudiums in Sozialer Arbeit an der Berner
    Fachhochschule besser kennen zu lernen.
  </p>
  <p>
    Zudem geben wir Ihnen wichtige Informationen zu unserem Studiengang und
    erhalten einen Überblick über die Studieninhalte und -ziele, formale
    Zulassungsvoraussetzungen, Anforderungen für ein Studium und die
    verschiedenen Berufsfelder der Sozialen Arbeit.
  </p>
  <h2>Dauer und Unterbruch des Self-Assessments</h2>
  <p>
    Die Bearbeitung des Self-Assessments dauert 30 Minuten.

    <p>Sie haben die Möglichkeit, das Self-Assessment zu unterbrechen und zu einem späteren Zeitpunkt fortzufahren. Bei einem Unterbruch werden Sie einen Code erhalten, den Sie bei Wiederaufnahme eingeben können.</p>

    <button class="primary" routerLink="/profile">Nächste Seite</button>
</div>
