<div class="container content-wrapper">
  <div class="header-image-container">
  </div>
  <h2>Wozu dient der Online-Selbsttest?</h2>
</div>
<hr>
<div class="container content-wrapper">
  <p>
    Dieser Selbsttest bietet Ihnen die Möglichkeit sich mit Ihren Interessen,
    Erwartungen, Fähigkeiten und Kompetenzen auseinanderzusetzen und die
    Anforderungen eines Bachelorstudiums in Sozialer Arbeit an der Berner
    Fachhochschule besser kennen zu lernen.
  </p>
  <p>
    Zudem geben wir Ihnen wichtige Informationen zu unserem Studiengang und
    erhalten einen Überblick über die Studieninhalte und -ziele, formale
    Zulassungsvoraussetzungen, Anforderungen für ein Studium und die
    verschiedenen Berufsfelder der Sozialen Arbeit.
  </p>
  <h2>PC-Voraussetzungen</h2>
  <p>
    Bei der Verwendung aktueller Browser sollten Sie eine fehlerfreie Darstellung
    erhalten: Dazu gehören unter anderem Mozilla Firefox, Microsoft Internet
    Explorer, Google Chrome, Safari oder Opera. Dieser Selbsttest verwendet
    Java-Script und Cookies.
  </p>
  <h2>Datenschutz</h2>
  <p>
    Alle Angaben, die Sie im Verlaufe der Bearbeitung machen, werden anonym
    gespeichert. Sie werden einzig dazu verwendet, den Selbsttest anzupassen und
    zu verbessern. Die Weitergabe von Daten an Dritte ist ausgeschlossen.
  </p>
    <button class="primary" routerLink="/profile">Nächste Seite</button>
</div>
