<div class="container content-wrapper">
  <h1>Schulform</h1>
  <p>Welche Schulform besuchen Sie aktuell?</p>
  <p><i>Modus: interessierte wählen vorgegebene Angaben aus.</i></p>
</div>
<hr />
<div class="container content-wrapper">
  <form [formGroup]="form" (submit)="updateModel()">
    <mat-checkbox formControlName="high_school_gymnasium"
      >Gymnasium</mat-checkbox
    >
    <mat-checkbox formControlName="vocational_school_bms"
      >Berufsmaturitätsschule</mat-checkbox
    >
    <mat-checkbox formControlName="technical_school_fms"
      >Fachmittelschule</mat-checkbox
    >
    <mat-checkbox formControlName="other">Sonstige</mat-checkbox>
    <mat-checkbox formControlName="none">Keine</mat-checkbox>
    <button class="primary" type="submit">Weiter</button>
  </form>
</div>
