<div class="container content-wrapper">
  <h1>Studium: Zeitmanagement</h1>
  <hr />
</div>
<div class="container content-wrapper">
  <p>
    Ein Studium ist zeitintensiv und wird Ihren bisherigen Alltag grösstenteils
    verändern. Mit einem gut überlegten Zeitmanagement werden Sie aber in der
    Lage sein, die Anforderungen des Studiums zu meistern und gleichzeitig eine
    gesunde Work-Life Balance zu bewahren.
  </p>
  <p>
    Um eine erste Einschätzung zu erhalten, wie Ihr zukünftiger Studienalltag
    aussehen könnte, werden Sie nun einen Studientag zeitlich planen. Bitte
    beantworten Sie dazu zuerst folgende Frage:
  </p>
  <p>Haben Sie vor, Vollzeit oder Teilzeit zu studieren?</p>

  <form [formGroup]="form" (submit)="updateModel()">
    <mat-radio-group formControlName="pensum">
      <mat-radio-button value="vollzeit"
        >Vollzeit (100% Studium)</mat-radio-button
      >
      <mat-radio-button value="teilzeit"
        >Teilzeit (in der Regel ca. 60% Studium)</mat-radio-button
      >
    </mat-radio-group>
    <br />
    <button class="primary" type="submit">Weiter</button>
  </form>
</div>
