<div class="container content-wrapper">
  <h1>Aktuelle Tätigkeit</h1>
  <p>Was ist ihre aktuelle Tätigkeit?</p>
  <p><i>Modus: interessierte wählen vorgegebene Angaben aus.</i></p>
</div>
<hr />
<div class="container content-wrapper">
  <form [formGroup]="form" (submit)="updateModel()">
    <mat-checkbox formControlName="student">Schüler*in</mat-checkbox>
    <mat-checkbox formControlName="university_student">Student*in</mat-checkbox>
    <mat-checkbox formControlName="apprentice"
      >In Berufsausbildung</mat-checkbox
    >
    <mat-checkbox formControlName="working_fulltime_parttime"
      >Berufstätig (Vollzeit / Teilzeit)</mat-checkbox
    >
    <mat-checkbox formControlName="other">Sonstiges</mat-checkbox>
    <button class="primary" type="submit">Weiter</button>
  </form>
</div>
