<div class="container content-wrapper">
  <h1>Aktuelle Tätigkeit</h1>
  <p>Was ist ihre aktuelle Tätigkeit?</p>
  <p><i>Modus: interessierte wählen vorgegebene Angaben aus.</i></p>
</div>
<hr />
<div class="container content-wrapper">
  <form [formGroup]="form" (submit)="updateModel()">
    <div class="checkbox_wrapper">
      <mat-checkbox class="input_element" formControlName="occupation_school"
        >Schüler*in</mat-checkbox
      >
      <mat-checkbox
        class="input_element"
        formControlName="occupation_university"
        >Student*in</mat-checkbox
      >
      <mat-checkbox
        class="input_element"
        formControlName="occupation_apprenticeship"
        >In Berufsausbildung</mat-checkbox
      >
      <mat-checkbox class="input_element" formControlName="occupation_working"
        >Berufstätig (Vollzeit / Teilzeit</mat-checkbox
      >
      <mat-checkbox class="input_element" formControlName="occupation_other"
        >Sonstiges</mat-checkbox
      >
    </div>
    <mat-error *ngIf="!isValid">Mind. eine Auswahl benötigt</mat-error>
    <button class="primary" type="submit">Weiter</button>
  </form>
</div>
