<div class="content-wrapper">
  <div class="container">
    <div style="width: 100%">
      <h1>Empathie & Perspektivenübernahme</h1>
    </div>
    <div *ngIf="!showResult">
      Die folgenden Aussagen beschreiben Handlungen und Empfindungen im Umgang
      mit anderen Menschen. Kreuzen Sie bitte für jede Aussage an, wie selten
      oder oft Sie so handeln oder empfinden.
      <br />
    </div>
  </div>
  <hr />
  <div class="flex-wrapper">
    <div class="wrap">
      <app-questionnaire *ngIf="!showResult" (outputEvent)="assignValues($event)" [questions]="questionnaire"
        [numberOfOptions]="5" [values]="form.value" [naming]="naming" [headers]="headers"></app-questionnaire>
      <app-result-table *ngIf="showResult" [numberOfOptions]="5" [questions]="questionnaire" [values]="form.value"
        [naming]="naming"></app-result-table>
      <div style="margin-top: 20px" class="footnote">
        <p>
          Quelle: Maes, J., Schmitt, M. & Schmal, A. (1995). Gerechtigkeit als
          innerdeutsches Problem: Werthaltungen, Kontrollüberzeugungen,
          Freiheitsüberzeugungen, Drakonität, Soziale Einstellungen, Empathie
          und Protestantische Arbeitsethik als Kovariate (Berichte aus der
          Arbeitsgruppe "Verantwortung, Gerechtigkeit, Moral" Nr.85). Trier:
          Universität Trier, Fachbereich I - Psychologie.
        </p>
      </div>
      <div *ngIf="showResult" style="margin-top:20px;" class="footnote">
        <p>
          Sachse, R. (2022). Empathie. In Verhaltenstherapiemanual–Erwachsene (pp. 99-105). Springer, Berlin,
          Heidelberg.
        </p>
      </div>
      <div *ngIf="showResult" style="margin-top:20px;" class="footnote">
        <p>
          Schmitt, M., Altstötter-Gleich, C., & Platzer, C. (2010). Differentielle Psychologie und
          Persönlichkeitspsychologie. Beltz PVU.
        </p>
      </div>
    </div>

    <div *ngIf="showResult" class="result">
      <div style="display: flex; align-items: center;">
        <mat-icon id="info-button" (click)="toggleCollapsible()"
          style="width: 1.3em; font-size: 40px; margin-bottom: 15px;">info</mat-icon>
        <h3 style="color: #4b647d;">Ihr Gesamtwert ist:&nbsp;&nbsp;&nbsp;<span (click)="toggleScoreInfo()"
            style="font-size: 2.5rem; text-decoration: underline; cursor: pointer;">{{overallScore}}</span></h3>
      </div>
      <div>
        <h5 style="font-style: italic">Ihr erreichter Wert für Empathie: {{firstScore}}</h5>
      </div>
      <div>
        <h5 style="font-style: italic">Ihr erreichter Wert für Perspektivenübernahme: {{secondScore}}</h5>
      </div>
      <hr>
      <p id="info" #info>
        <span style="font-weight: bold;">Erläuterung:</span>
        <br>
        <br>
        Von Empathie spricht man, wenn eine Person versucht, die Aussagen, Verhaltensweisen oder Empfindungen einer
        anderen Person zu erkennen, zu verstehen und nachzuvollziehen, und zwar aus der Perspektive bzw. aus den
        Voraussetzungen dieser Person heraus (Sachse, 2022). Die Perspektivenübernahme repräsentiert die Neigung einer
        Person, eine Angelegenheit (auch) mit den Augen des Gegenübers zu betrachten (Maes et al., 1995).
        <br>
        <br>
        Empathie und Perspektivenübernahme sind wichtige Persönlichkeitseigenschaften, die das Verhalten eines Menschen
        grundlegend beeinflussen. Beispielsweise sind empathische Menschen hilfsbereiter, weil sie die Nöte
        Hilfsbedürftiger besser nachempfinden können. Besonders Fachpersonen der Sozialen Arbeit müssen in der Lage
        sein, sich in ihre Adressat*innen hineinzuversetzen und deren Bedürfnisse und Gefühle zu verstehen. Ein hohes
        Mass an Empathie und Perspektivenübernahme erlaubt es Fachpersonen der Sozialen Arbeit, auf die
        Hilfsbedürftigkeit ihrer Adressat*innen mit besonders passender Unterstützung reagieren können.
      </p>
      <p #scoreInfo id="info" style="margin-top: 0">Mit dem Fragebogen können Gesamtwerte in der Spannbreite von 18 bis
        90 erhalten werden. Ein hoher Testwert steht dabei für eine hohe Empathie und Perspektivenübernahme.
      </p>
      <button class="primary" (click)="advanceSite()">
        Weiter mit Self-Assessment
      </button>
    </div>
  </div>
</div>
