.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 3em;
}

nav {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    max-width: 10em;
    background: #697d91;
    padding: 1em;
    color: white;
    align-self: baseline;
}

nav div {
    margin-bottom: 1em;
}

nav button {
    border: none;
    padding: 1em;
    color: #699bbe;
    margin-bottom: 1px;
}

nav button:hover, .active {
    background: #ddd;
    cursor: pointer;
}

.router-wrapper {
    width: 80vw;
}

.progress-bar {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.progress-bar button:hover {
    background: #699bbe;
}

#progress-bar-empty {
    position: relative;
    background: #dddddd;
    height: 5px;
    width: 100%;
}

#progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    background: #699bbe;
    height: 5px;
    /*alter width with JS*/
}
