.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside {
    z-index: 1;
    width: 17vw;
    place-items: center;
    display: flex;
    flex-direction: column;
}

img {
    display: inline;
    margin: 2em;
    width: 100px;
}

.logo {
    display: flex;
    height: 18.5vh ;
    place-items: center;
    width: 100%;
}

h2 {
    display: inline;
}

hr {
    width: 100%;
    border-top: 1px solid #eee;
}
nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    align-self: baseline;
    flex-grow: 1;
}


.nav-button {
    background: white;
    border: none;
    padding: 1em;
    text-align: left;
    margin-bottom: 1px;
}

nav button:hover, .active {
    background: #f9f9f9;
    cursor: pointer;
}

.router-wrapper {
    width: 83vw;
}

.progress-bar {
    place-self: center;
    padding: 2em;
    max-width: 12vw;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    color: #666;
}

.progress-bar button:hover {
    background: #699bbe;
}

#progress-bar-empty {
    position: relative;
    background: #dddddd;
    height: 5px;
    width: 100%;
}

#progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    background: #699bbe;
    height: 5px;
    /*alter width with JS*/
}
