<div class="wrapper">
    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>
    <aside>
        <h2>Navigation</h2>
        <nav>
            <div>{{currentPage}}</div>
            <button routerLink="home" routerLinkActive="active">Startseite</button>
            <button routerLink="profile" routerLinkActive="active">Persönliche Angaben</button>
            <button routerLink="personality-trait-scales" routerLinkActive="active">Skalen zu Persönlichkeit und Charaktereigenschaften</button>
            <button routerLink="stereotypes" routerLinkActive="active">Bewertung Stereotypen zur sozialen Arbeit</button>
            <button routerLink="time-management" routerLinkActive="active">Zeitmanagement</button>
            <button routerLink="profile" routerLinkActive="active">Einblick Studienalltag</button>
            <button routerLink="profile" routerLinkActive="active">Gesamtfeedback</button>
        </nav>
        <div class="progress-bar">
            <h2>Ihr Fortschritt</h2>
            <div id="progress-bar-empty">
                <div id="progress-bar-fill"></div>
            </div>
            <div>{{progressPercent.value}}%</div>
            <button class="primary">Self Assessment unterbrechen</button>
            <button (click)="add(7)">plus progress</button>
        </div>
    </aside>
</div>
