<div class="content-wrapper">
  <h1>Studium: Zeitmanagement</h1>
  <p>
    Feedback: Für ein erfolgreiches Studium ist ein sorgfältiges Zeitmanagement
    sehr wichtig. Beachten sie, dass das Studium nicht nur Präsenzzeit im
    Unterricht beinhaltet, sondern dass Vor- und Nachbearbeitungszeit (z. B.
    lesen, Zusammenfassungen schreiben, Gruppenarbeiten, lernen, Selbststudium)
    ein grosser Teilaspekt des Studiums ist. Bei 5 Studientage pro Woche und 5-6
    Wochen Ferien/Jahr. Eine ausgeglichener Studientag könnte z. B. so aussehen:
  </p>
  <div class="tables-wrapper">
    <div>
      <h2>Beispiel Vollzeit:</h2>
      <table>
        <tr>
          <th>Aktivität</th>
          <th>Stunden pro Tag</th>
        </tr>
        <tr>
          <td>Studium: Kontakt- und Selbststudium</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Nebenjob, Haushalt, Kinderbetreuung</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Anreise (Pendeln)</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Zeit für sich selbst (Hobby & Freizeit)</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Schlafen, Essen, Körperpflege</td>
          <td>9</td>
        </tr>
      </table>
    </div>
    <div>
      <h2>Beispiel Teilzeit:</h2>
      <table>
        <tr>
          <th>Aktivität</th>
          <th>Stunden pro Tag</th>
        </tr>
        <tr>
          <td>Studium: Kontakt- und Selbststudium</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Nebenjob, Haushalt, Kinderbetreuung</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Anreise (Pendeln)</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Zeit für sich selbst (Hobby & Freizeit)</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Schlafen, Essen, Körperpflege</td>
          <td>8</td>
        </tr>
      </table>
    </div>
  </div>
  <button class="primary" (click)="advanceSite()">Weiter</button>
</div>
