<div style="margin-bottom: 10px;">
  <h1>Herzlich Willkommen!</h1>
  <p>
    Soll ich Soziale Arbeit studieren? Der Online-Selbsttest
    Soziale Arbeit erleichtert Ihnen die Entscheidung für oder
    gegen ein Studium in Sozialer Arbeit. Der Test hilft Ihnen,
    Ihre Interessen und Fähigkeiten besser kennen zu lernen
    und sich mit dem Bachelorstudiengang Soziale Arbeit der
    Berner Fachhochschule vertraut zu machen.
  </p>
  <button class="primary" routerLink="/disclaimer">Self-Assessment starten</button>
</div>


<div class="image-grid">
  <div class="card image-grid-col-2 image-grid-row-2">
    <div class="card-content">
      <h3 class="card-title">Persönlichkeit</h3>
      <p class="card-body">
        Take the personality test here
      </p>
      <a href="" class="button">Learn more</a>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <h3 class="card-title">Persönlichkeit</h3>
      <p class="card-body">
        Take the personality test here
      </p>
      <a href="" class="button">Learn more</a>
    </div>
  </div>
  <div class="img-container">
    <div class="text">
      <h3>Zeitmanagement</h3>
    </div>
    <img class="banner" src="../../assets/home/rechner.jpg" alt="">
  </div>
  <div class="img-container">
    <div class="text">
      <h3>Studienalltag</h3>
    </div>
    <img class="banner" src="../../assets/home/tisch.jpg" alt="">
  </div>
  <div class="img-container">
    <div class="text">
      <h3>Persönlichkeit</h3>
    </div>
    <img class="banner" src="../../assets/home/bank.jpeg" alt="">
  </div>

</div>