<div class="container content-wrapper">
  <h1>Persönlichkeitsmerkmale/Charakter</h1>
  </div>
  <hr>
  <div class="container content-wrapper">
  <p>
    In diesem Teil des Self-Assessments stehen Persönlichkeitsmerkmale im Fokus. Es werden Ihnen Aussagen dazu präsentiert. Bitte geben Sie jeweils an, inwiefern diese Aussagen auf Sie zutreffen.
  </p>
  <!-- <p>
    Grundsätzlich ist es in der Sozialen Arbeit von Vorteil, wenn sich die
    einzelnen Werte zur Resilienz im hohen Segment befinden. Resilient zu sein,
    ist für Sozialarbeitende ausschlaggeben, da sie täglich mit Problemen auf
    gesellschaftlicher, institutioneller und individueller Ebene konfrontiert
    werden. Diesen Problemlagen müssen Sozialarbeitende die Stirn bieten und
    Widerstandsfähigkeit beweisen, um ihre Dienst- und Unterstützungsleistungen
    sicherzustellen sowie auch ihre eigene Gesundheit zu bewahren (Eggli &
    Romano, 2022).
  </p> -->
  <button class="primary" (click)="advanceSite()">Weiter</button>
</div>
