.video-modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 56.6rem;
  transform: matrix(1, 0, 0, 1, 0, 0);

  iframe {
    width: 100%;
    height: 100%;
    background-color: #eee;
  }

  .close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 1;
  }
}
