<div class="video-modal">
    <iframe width="560" height="315"
        [src]=videoUrl() title=" video player"
        class="kmsembed" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Kaltura Player"></iframe>
    <button type="button" class="close" (click)="closeModal()" autofocus=false><span>
            <fa-icon style="font-size: 3rem;" [icon]="faClose"></fa-icon>
        </span></button>
</div>
