<div class="video-modal">
    <iframe width="560" height="315"
        src="https://mediaspace.bfh.ch/embed/secure/iframe/entryId/0_z694rkg8/uiConfId/23488891"
        title=" YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <button type="button" class="close" (click)="closeModal()" autofocus=false><span><i
                class="icon-close">close</i></span></button>
</div>