<div class="content-wrapper">
  <h1>Einblick Studienalltag</h1>
  <p>
    Die folgenden vier Kurzfilme geben Ihnen einen Einblick in den Studienalltag
    von (ehemaligen) Studierenden des Bachelorstudiengangs Soziale Arbeit (BFH).
    Die porträtierten Personen absolvieren bzw. absolvierten ihr Studium in
    unterschiedlichen Studienmodi wie Vollzeitstudium und Teilzeitstudium und befinden
    sich in unterschiedlichen Lebenssituationen.
    Wir wünschen viel Vergnügen beim Anschauen der Videos!
  </p>
  <div>
    <video width="320" height="240" controls>
      <source src="assets/videos/Johanna.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video width="320" height="240" controls>
      <source src="assets/videos/Beatrice.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video width="320" height="240" controls>
      <source src="assets/videos/t_schalk.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <button class="primary" (click)="advanceSite()">Weiter</button>
</div>
