.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

h1 {
  margin-bottom: 0;
}

.testimonial img {
  height: 10em;
}

.testimonials {
  display: flex;
  gap: 3em;
}

.testimonial {
  display: flex;
  place-items: center;
  gap: 1em;
  color: #666;
  border: 1px dashed #699bbe;
  padding: 0.5em;
  max-width: 30%;
}

.testimonial p {
  max-width: 50ch;
}

.videos {
  display: flex;
  gap: 1em;
}

.video-placeholder {
  background: #161616;
  color: white;
  display: flex;
  border: 1px solid #ddd;
  place-items: center;
  width: 33%;
  aspect-ratio: 16 / 9;
}

button {
  width: fit-content;
}
