<div class="content-wrapper">
  <h1>Einblick Studienalltag</h1>
  <p>
    Die folgenden vier Kurzfilme geben Ihnen einen Einblick in den Studienalltag
    von (ehemaligen) Studierenden des Bachelorstudiengangs Soziale Arbeit (BFH).
    Die porträtierten Personen absolvieren bzw. absolvierten ihr Studium in
    unterschiedlichen Studienmodi wie Vollzeitstudium und Teilzeitstudium und befinden
    sich in unterschiedlichen Lebenssituationen.
    Wir wünschen viel Vergnügen beim Anschauen der Videos!
  </p>
  <div id="horizontal-scroller">
    <button id="left" (click)="scroll('left', 800)"><mat-icon>arrow_left</mat-icon></button>
    <div id="videos">
      <div class="video-placeholder">
        <p>video1</p>
      </div>
      <div class="video-placeholder">
        <p>video2</p>
      </div>
      <div class="video-placeholder">
        <p>video3</p>
      </div>
      <div class="video-placeholder">
        <p>video4</p>
      </div>
    </div>
    <button id="right" (click)="scroll('right', 800)"><mat-icon>arrow_right</mat-icon></button>
  </div>
  <button class="primary" (click)="advanceSite()">Weiter</button>
</div>
