/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
    font-family: "Yu Gothic UI Semibold", sans-serif;
}

h1 {
    color: #4a83aa;
    font-size: 2.6em;
}

h2 {
    font-weight: 600;
    color: #4a83aa;
}

.primary {
    background: #697d91;
    border: none;
    color: white;
    padding: 1em;
    margin-top: 1em;
    border-radius: 3px;
}
.primary:hover {
    background: #699bbe;
    cursor: pointer;
}

.flex-spacer {
    flex: 1 1 auto;
}


.content-wrapper {
    height: 100% ;
    padding-left: 3em;
    background: #fff;
}

p {
  max-width: 75ch;
}

.footnote {
  font-size: 0.8em;
  opacity: 0.8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
