/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
    font-family: "Yu Gothic UI Semibold", sans-serif;
}

h1 {
    color: #4a83aa;
    font-size: 2.6em;
}

h2 {
    font-weight: 600;
    color: #4a83aa;
}

.primary {
    background: #697d91;
    border: none;
    color: white;
    padding: 1em;
    border-radius: 3px;
}
.primary:hover {
    background: #699bbe;
    cursor: pointer;
}

.flex-spacer {
    flex: 1 1 auto;
}

.header-image-container {
    overflow: hidden;
    height: 18.5vh;
    margin-left: -3em;
    max-height: 18.5vh;
    width: 83vw;
    background: rgb(45,67, 78);
}

.content-wrapper {
    height: 100% ;
    padding-left: 3em;
    background: #fff;
}

