form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  width: 100%;
  padding: 0.5em;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

button {
  width: fit-content;
}

.flex-container{
  display: flex;
}

.input_wrapper{
  display: flex;
  width: 20em;
}
.input_element{
  margin-right: 10vh;
  width: 25vh;
}
.checkbox_wrapper{
  // width: 20em;
  max-width: 20em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr auto;

}
.checkbox{
  display: flex;
  justify-content: space-around;
}
