.home-wrapper {
    height: 100% ;
    padding-left: 3em;
    background: #fff;
}

.image-container {
    overflow: hidden;
    margin-left: -3em;
    max-height: 18.5vh;
    width: 83vw;
}

img {
    margin-top: -15em;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

p {
    max-width: 50ch;
}
