<div class="home-wrapper">
    <div class="image-placeholder">

    </div>
    <h1>Herzlich Willkommen!</h1>
    <p>
        Soll ich Soziale Arbeit studieren? Der Online-Selbsttest
        Soziale Arbeit erleichtert Ihnen die Entscheidung für oder
        gegen ein Studium in Sozialer Arbeit. Der Test hilft Ihnen,
        Ihre Interessen und Fähigkeiten besser kennen zu lernen
        und sich mit dem Bachelorstudiengang Soziale Arbeit der
        Berner Fachhochschule vertraut zu machen.
    </p>
    <button class="primary">Self-Assessment starten -></button>
</div>
