<div class="container content-wrapper">
  <div class="header-image-container"></div>
  <h2>
    Online-Test als verpflichtender Bestandteil in der Bewerbung für den
    Studiengang Soziale Arbeit
  </h2>
</div>
<hr />
<div class="container content-wrapper">
  <p>
    Falls Sie sich für den Bachelorstudiengang Soziale Arbeit an der Berner
    Fachhochschule interessieren und sich bewerben möchten, ist die Teilnahme an
    diesem Online-Selbsttest ein verpflichtender Bestandteil einer vollständigen
    Bewerbung.
  </p>
  <p>
    Es besteht aber auch die Möglichkeit, dass Sie den Online-Test als
    Orientierungshilfe in Ihrer Studienwahl nutzen. Alle Angaben, die Sie im
    Verlaufe der Bearbeitung machen, werden anonym gespeichert. Sie werden
    einzig dazu verwendet, den Selbsttest anzupassen und zu verbessern. Die
    Weitergabe von Daten an Dritte ist ausgeschlossen.
  </p>
  <p>Möchten Sie mit gespeicherten Daten weitermachen?</p>
  <form [formGroup]="continue_form" (submit)="getUserData()">
    <mat-form-field class="input_element">
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput type="text" />
    </mat-form-field>
    <button type="submit" class="primary">Weiter</button>
  </form>
  <p>Haben Sie vor, den Test wahrheitsgemäss zu beantworten?</p>
  <form [formGroup]="save_data_form" (submit)="updateModel()">
    <mat-radio-group formControlName="save_data">
      <mat-radio-button value="yes"
        >Ja, ich möchte aussagekräftige Ergebnisse erhalten.</mat-radio-button
      >
      <br />
      <br />
      <mat-radio-button value="no"
        >Nein, ich möchte den Test bloss ausprobieren.</mat-radio-button
      >
    </mat-radio-group>
    <br />
    <br />
    <button type="submit" class="primary">Weiter</button>
  </form>
</div>
